* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

header {
  margin: 15px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 800;
}

.container {
  background: url(images/istockphoto-1502787671-612x612.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 190px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5px;
}

.container label {
  color: black;
  margin: 20px 10px 5px;
  font-weight: 800;
  font-size: 12px;
}

.container input {
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 8px;
  width: 90%;
}

.container input:focus {
  background-color: lightblue;
  border: unset;
}
